<!--
  Generated template for the MeetingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>
        Project 1
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <ion-list style="margin-top: 10px;">
        <ion-list-header style="background-color:lightskyblue; color: white;">Meeting Arrangement</ion-list-header>
        <ion-card style="margin: 0; margin-right: 0; width: 100%;">
          <ion-card-content>
            <h2><b>1'st Meeting</b></h2>
            <br>
            <h5>04/12/2018 Pk. 11:00 WIB</h5>
            <p>Jl. Kelapa Lilin V, Sektor 7 A DC 11 No. 28, Gading Serpong</p>
            <br>
            <ion-grid style="padding:0;">
              <ion-row>
                <ion-col col-6>
                  <button ion-button full default color="primary">Confirm</button>
                </ion-col>
                <ion-col col-6>
                    <button ion-button full default color="danger">Reject</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <ion-card style="margin: 0; margin-right: 0; width: 100%;">
            <ion-card-content>
              <h2><b>2'nd Meeting</b></h2>
              <br>
              <h5>04/12/2018 Pk. 11:00 WIB</h5>
              <p>Jl. Kelapa Lilin V, Sektor 7 A DC 11 No. 28, Gading Serpong</p>
              <br>
              <ion-grid style="padding:0;">
                <ion-row>
                  <ion-col col-6>
                    <button ion-button full default color="primary">Confirm</button>
                  </ion-col>
                  <ion-col col-6>
                      <button ion-button full default color="danger">Reject</button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
      </ion-list>
  </ion-content>