
<ion-content padding style="background-color: #563ada">
    
    <ion-row class="login-logo">
        <ion-col><img src="../../assets/imgs/jobsland_logo.png" /></ion-col>
      </ion-row>

  <ion-row class="login-form">
    <ion-col>
        <form [formGroup]="userForm" (ngSubmit)="login()">
            <ion-list>
               
              <ion-item>
                  <ion-label><ion-icon name="person"></ion-icon></ion-label>
                <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
                </ion-item>
              <ion-item>
                  <ion-label><ion-icon name="lock"></ion-icon></ion-label>
                <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
              </ion-item>
             
              
            </ion-list> 
            <button ion-button type="submit" block [disabled]="!userForm.valid" primary class="login-button">Login</button>
        <!--  
            <button ion-button type="submit" block [disabled]="!userForm.valid">Login</button> -->
          </form>
    </ion-col>
  </ion-row>
  

  <ion-row>
      <ion-col>
        <button (click)="goToSignUp()" class="create-account">New User ? Sign Up Now !</button>
      </ion-col>
  </ion-row>
</ion-content>
