
.ios, .md {
 
    page-login {
   
      
   
        ion-row {
          align-items: center;
          text-align: center;
        }
   
        ion-item {
            border-radius: 30px !important;
            padding-left: 10px !important;
            margin-bottom: 10px;
            background-color: white;
            font-size: 0.9em;
        }
   
        ion-list {
            margin: 0;
        }
   
        .login-logo {
          flex: 2;
        }
   
        .login-form {
            flex: 1;
        }
   
        .create-account {
          color: #fff;
          text-decoration: underline;
          background: none;
        }
   
        .login-button {
            width: 100%;
            border-radius: 30px;
            font-size: 0.9em;
            background-color: transparent;
            border: 1px solid #fff;
            color: white;
        }
   
    }
   
  }