<!--
  Generated template for the AddProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary"> 
        <ion-buttons end>
            <button ion-button icon-only (click)="closeModal()">
              <ion-icon name="close" ></ion-icon>
            </button>
          </ion-buttons>
      <ion-title>Add Projek</ion-title> 
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <form [formGroup]="submitProject">

    <ion-row>
      <ion-col>
        <ion-label>Nama Projek</ion-label>
        <ion-input formControlName="projectName" type="text" class="boxed-input"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Deskripsi Projek</ion-label>
        <ion-input formControlName="keterangan" type="text" class="boxed-input"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Kategori Projek</ion-label>
          <ion-select formControlName="kategori" style="max-width: 100% !important;" class="boxed-input" [(ngModel)]="kategori">
            <ion-option *ngFor="let kat of kategoriCollection" value="{{kat.category}}">{{kat.category}}</ion-option>
          
          </ion-select>
        </ion-col>
    </ion-row>
    </form>
  </ion-content>
  <ion-footer no-padding>
      <button ion-button full color="warna" (click)="submit()" [disabled]="!submitProject.valid">SUBMIT</button>
  </ion-footer>