<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title> My Project </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="projectSegment" color="warna">
    <ion-segment-button value="myProject"> My Project </ion-segment-button>
    <ion-segment-button value="projectJoin"> Join Project </ion-segment-button>
  </ion-segment>

  <ion-row *ngIf="myProject?.length <= 0">
    <ion-col text-center>
      <p>Tidak ada project, ayo bikin project!</p>
    </ion-col>
  </ion-row>

  <div [ngSwitch]="projectSegment">
    <div *ngSwitchCase="'myProject'">
      <ion-card
        no-margin
        *ngFor="let project of myProject"
        (click)="detail(project)"
        style="width:100%"
      >
        <ion-card-title text-center>
          <h1>{{ project.projectName }}</h1>
        </ion-card-title>
        <ion-card-content>
          <h2>{{ project.keterangan }}</h2>
          <br /><br />
          <h3 text-right>Kategori : {{ project.kategori }}</h3>
        </ion-card-content>
        <ion-row>
          <ion-col text-center>
            <button
              ion-button
              clear
              small
              style="color:red; font-size: 12px;"
              icon-start
            >
             
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button small round color="secondary" icon-start>
              <ion-icon name="search"></ion-icon>
              Details
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div *ngSwitchCase="'projectJoin'">
      <ion-card *ngFor="let join of joinProject" (click)="detailJoin(join)">
        <ion-card-title text-center>
          <h1>{{ join.projectName }}</h1>
        </ion-card-title>
        <ion-card-content>
          <h2>{{ join.keterangan }}</h2>
          <br /><br />
          <h3 text-right>Kategori : {{ join.kategori }}</h3>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <ion-badge color="secondary">Waiting</ion-badge>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <ion-footer>
      <ion-row>
        <div ion-fixed style="top: 0; left: 0; right: 0; bottom: 0;">
          <ion-fab *ngIf="projectSegment == 'myProject'" right bottom>
            <button ion-fab color="primary" (click)="addProPage()">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-fab>
        </div>
      </ion-row>
    </ion-footer></div
></ion-content>
