<!--
  Generated template for the DetailProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>detailProject</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
      <ion-row>
        <ion-col col-12 no-padding>
          <img src="../../assets/imgs/IT.jpg" style="object-fit: cover" />
        </ion-col>
      </ion-row>
      <div class="separator"></div>
      <ion-grid>
      <ion-row>
        <ion-col col-4 padding> Nama Project </ion-col>
        <ion-col padding> 
            {{ data.projectName }}
        </ion-col>
      </ion-row>
      <div class="separator"></div>
      <ion-row>
        <ion-col col-4 padding> Deskripsi </ion-col>
        <ion-col padding> 
            {{ data.keterangan }}
        </ion-col>
      </ion-row>
      <div class="separator"></div>
      <ion-row>
        <ion-col col-4 padding> Kategori </ion-col>
        <ion-col padding> 
            {{ data.kategori }}
        </ion-col>
      </ion-row>
      <div class="separator"></div>
    </ion-grid>

   
    
</ion-content>
<ion-footer >
  <ion-row *ngIf="param == 'home'">
 
  <ion-col col-6 padding> 
    <button ion-button full color="warna" [disabled]="udahjoin" (click)="joinProject()">Join</button>
  </ion-col>
</ion-row>
</ion-footer>