<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="profile-bg"></div>
      <div id="content">
        <div id="profile-info">
            <img id="profile-image" src="../../assets/imgs/avatar.png" *ngIf="!gambar.base64Image" (click)="uploadImg()">
            <img id="profile-image" [src]="gambar.base64Image" *ngIf="gambar.base64Image" (click)="uploadImg()">
          <form [formGroup]="profileForm" (ngSubmit)="editProfile()">
            <ion-list>
              <ion-item>
                  <ion-label fixed>Nama </ion-label>
                  <ion-input type="text" placeholder="Nama" formControlName="username" value="{{ dataUser.fullname }}"> </ion-input>
              </ion-item>
              <ion-item>
                  <ion-label fixed>Email </ion-label>
                  <ion-input disabled="true" placeholder="Email" formControlName="email" value="{{ dataUser.email }}"> </ion-input>
              </ion-item>
              <ion-item> <ion-label float>Jenis Kelamin</ion-label>
              </ion-item>
              <ion-row radio-group [formControl]="profileForm.controls['gender']">
                  <ion-col col-6>
                     <ion-item>
                      <ion-label>Pria</ion-label>
                      <ion-radio value="pria" item-left></ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col col-6>
                    <ion-item>
                      <ion-label>Wanita</ion-label>
                      <ion-radio value="wanita" item-left></ion-radio>
                    </ion-item>
                  </ion-col>
              </ion-row>
              <ion-item>
                  <ion-label floating>Skill </ion-label>
                  <!-- <ion-textarea *ngIf="!dataUser.skill" type="text" formControlName="skill" value=""></ion-textarea> -->
                  <ion-textarea type="text" formControlName="skill" value="{{ dataUser.skill }}"></ion-textarea>
              </ion-item>
              <button ion-button type="submit" block [disabled]="!profileForm.valid" primary class="login-button">Submit</button>
            </ion-list>
          </form>
        </div>
      </div>
</ion-content>
