<ion-content>
  <ion-slides pager>
    <ion-slide style="background-color: #563ada">
      <i class="fas fa-bicycle" style="font-size: 120px; color:white"></i>
      <h2 style="color:white">Hai Page 1</h2>
      <button color="light"  ion-button round outline (click)="next()">Next</button>
    </ion-slide>
    <ion-slide style="background-color: #563ada">
      <i class="fas fa-book" style="font-size: 120px; color:white"></i>
      <h2 style="color:white">Hei Page 2</h2>
      <button color="light"  ion-button round outline (click)="next()">Next</button>
      </ion-slide>
    <ion-slide style="background-color: #563ada">
      <i class="fas fa-people" style="font-size: 120px; color:white"></i>
      <h2 style="color:white">Hallo page 3</h2>
      <button style="width: 80%" color="light"  ion-button round outline (click)="goToSignUp()">Mulai sekarang</button>
    </ion-slide>
  </ion-slides>  
</ion-content>
<div>
    <ion-fab bottom left edge style="padding-bottom:25px; margin-left :-10px"> 
      <button ion-button clear color="light"  (click)="goToSignUp()" style="font-size:13pt">
        Skip
      </button>
    </ion-fab>
    </div>
    
  

<!-- <ion-footer style="background-color: #563ada">
  <button ion-button icon-only clear (click)="goToSignUp()" color="light" style="margin-left: 10px">Skip</button>
</ion-footer> -->
