<!--
  Generated template for the MeetingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      Project 1
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list style="margin-top: 10px;">
      <ion-list-header style="background-color:lightskyblue; color: white;">Meeting Arrangement</ion-list-header>
      <ion-card style="margin: 0; margin-right: 0; width: 100%;">
        <ion-card-content>
          <h2><b>1'st Meeting</b></h2>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                  <ion-label stacked>Date</ion-label>
                  <ion-datetime min="2018-12-05" max="2018-12-25" style="padding-left: 0" type="text" placeholder="Pick Date" displayFormat="DD/MM/YYYY"></ion-datetime>
              </ion-col>
              <ion-col col-6>
                  <ion-label stacked>Time</ion-label>
                  <ion-datetime style="padding-left: 0" min="08:00" max="15:15" type="text" placeholder="Pick Time" displayFormat="HH:mm"></ion-datetime>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <h5 style="font-size: 12px;">Location</h5>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 style="display: flex; align-items: center">
                <h5 style="color:darkgrey">Jl. Kelapa Lilin V, Sektor 7 A DC 11 No. 28, Gading Serpong</h5>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <button ion-button icon-start full round default style="font-size: 14px; background-color:ghostwhite; color: black; border: 1px solid lightgrey;">
                  <ion-icon name="locate"></ion-icon>
                      Pick Location
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-card style="margin: 0; margin-right: 0; width: 100%;">
          <ion-card-content>
            <h2><b>2'nd Meeting</b></h2>
            <ion-grid>
                <ion-row>
                  <ion-col col-6>
                      <ion-label stacked>Date</ion-label>
                      <ion-datetime min="2018-12-05" max="2018-12-25" style="padding-left: 0" type="text" placeholder="Pick Date" displayFormat="DD/MM/YYYY"></ion-datetime>
                  </ion-col>
                  <ion-col col-6>
                      <ion-label stacked>Time</ion-label>
                      <ion-datetime style="padding-left: 0" min="08:00" max="15:15" type="text" placeholder="Pick Time" displayFormat="HH:mm"></ion-datetime>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <h5 style="font-size: 12px;">Location</h5>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 style="display: flex; align-items: center">
                    <h5 style="color:darkgrey">Jl. Kelapa Lilin V, Sektor 7 A DC 11 No. 28, Gading Serpong</h5>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                      <button ion-button icon-start full round default style="font-size: 14px; background-color:ghostwhite; color: black; border: 1px solid lightgrey;">
                        <ion-icon name="locate"></ion-icon>
                            Pick Location
                      </button>
                    </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-list>
    <button ion-button block style="background-color:lightskyblue; color: white;">Submit</button>
</ion-content>