<ion-header>
  <ion-navbar color="warna">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="listChat()">
        <ion-icon name="chatboxes" style="font-size: 2em;"></ion-icon>
        <ion-badge id="notifications-badge" color="danger">.</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of kategoriCollection">

        <img (click)="listProject(item)" src="../../assets/imgs/IT.jpg"/>
    
        <ion-card-content>
          <ion-card-title>
              {{item.category}}
          </ion-card-title>
         
        </ion-card-content>
    
        <ion-row no-padding>
          <ion-col text-center>
            <button (click)="listProject(item)" ion-button round color="danger" icon-start >
              <ion-icon name='search'></ion-icon>
              Show
            </button>
          </ion-col>
        </ion-row>
    
      </ion-card>

    <!-- <ion-card *ngFor="let item of items">
        <img src="../../assets/imgs/IT.jpg"/>
        <div class="card-title">{{item}}</div>
        <div class="card-subtitle">41 Project</div>
    </ion-card> -->

    <!-- <ion-card>
        <img src="assets/imgs/logo.png"/>
        <div class="card-title">São Paulo</div>
        <div class="card-subtitle">41 Listings</div>
      </ion-card> -->
  <!-- <button (click)="logout()">logout</button> -->
</ion-content>
