page-home {
    
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }
      #notification-button {            
        position: relative;
        width: 42px;
        top:1px;
        right: 1px;
        overflow: visible!important;
    }


#notifications-badge {
        background-color: red;
        position: absolute;
        top: -3px;
        right: -6px;
        border-radius: 100%;
    }
}
