<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar class="user-profile">
      <ion-grid>
        <ion-row text-left>
          <ion-col col-4>
            <ion-avatar>
                <img class="circle-pic" [src]="dataUser.photo" *ngIf="dataUser.photo">
              <img class="circle-pic" src="../../assets/imgs/avatar.png"  *ngIf="!dataUser.photo">
            </ion-avatar>
            
          </ion-col>
          <ion-col col-8>
            <h2 ion-text color="light">
              {{ dataUser.fullname }}
            </h2>
            <span ion-text color="light">{{ dataUser.email }}</span>
            <br>
            <!-- <button color="light" ion-button round outline small menuClose (click)="openPage(profilePage)">
              Edit Profile
            </button> -->
            <!-- <button ion-button round outline menuClose (click)="openPage(profilePage)" color="light">
              <ion-icon name="create" button-start style="margin-right:30px"></ion-icon>
              Ubah
            </button> -->
              <button color="light" menuClose ion-button round outline (click)="profile()">Ubah</button>
          </ion-col>
          
        </ion-row>

        <!-- <ion-row no-padding class="other-data">
          <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose disabled>
              <ion-icon name="contact"></ion-icon>
              Edit Profile
            </button>
          </ion-col>
          <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
              Log Out
            </button>
          </ion-col>
        </ion-row> -->

      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item (click)="openPage(homePage)">
        <ion-icon name="home" item-start></ion-icon> Home
      </button>
      <!-- <button menuClose ion-item (click)="openPage(profilePage)">
        <ion-icon name="create" item-start></ion-icon> Edit Profile
      </button> -->
      <button menuClose ion-item (click)="openPage(projectPage)">
        <ion-icon name="folder" item-start></ion-icon> My Project
      </button>
      <button menuClose ion-item (click)="openPage(meetingPage)">
        <ion-icon name="folder" item-start></ion-icon> Meeting Page
      </button>
      <button menuClose ion-item (click)="openPage(meetingConfirmed)">
        <ion-icon name="folder" item-start></ion-icon> Meeting Confirmation Page
      </button>
      <button menuClose ion-item (click)="openPage(meetingConfirmed_2)">
        <ion-icon name="folder" item-start></ion-icon> Meeting Confirmation 2 Page
      </button>
     
    </ion-list>
  </ion-content>
  <ion-footer>
    <button ion-item menuClose (click)="logout()">
      <ion-icon name="log-out" item-start></ion-icon> Logout
    </button>
  </ion-footer>
</ion-menu>

<div *ngIf="showSplash" class="splash">
  <div class="spinner"></div>
</div>
<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>