<!--
  Generated template for the DetailMyProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary"> <ion-title>Detail Project</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <ion-row no-padding>
    <ion-col>
      <img src="assets/imgs/IT.jpg" style="object-fit: cove" />
    </ion-col>
  </ion-row>

  <div class="separator"></div>
  <ion-row>
    <ion-col col-4 padding> <b>Nama Projek</b> </ion-col>
    <ion-col padding> {{ data.projectName }} </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 padding> <b>Kategori</b> </ion-col>
    <ion-col padding> {{ data.kategori }} </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 padding> <b>Keterangan Projek</b> </ion-col>
    <ion-col padding> {{ data.keterangan }} </ion-col>
  </ion-row>

  <!--
    <ion-card *ngFor="let project of myProject">

    <ion-card-header>
      Card Header
    </ion-card-header>
      {{project.projectName}}
    <ion-card-content>
  -->
  <!-- Add card content here! -->
  <!--
    </ion-card-content>

    </ion-card>
  -->
  <!--
    <ion-list>
      <ion-item-sliding>
        <ion-item>
          <h2>{{ data.projectName }}</h2>
          <h3 color="#ccc">{{ data.keterangan }}</h3>
          <h3 color="#ccc">{{ data.kategori }}</h3>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="removeQuote(quoteGroup)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  -->
  <div class="separator"></div>
  <ion-segment [(ngModel)]="userjoin" color="warna">
    <ion-segment-button value="reqaccept"> Request Join </ion-segment-button>
    <ion-segment-button value="accept"> Accept </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="userjoin">
    <div *ngSwitchCase="'reqaccept'">
      <ion-card *ngFor = 'let memberreq of memberReq'>
        <ion-card-header> {{memberreq.fullname}} </ion-card-header>
        <ion-card-content>
          Pendidikan: S1 <br>Skill: CSS, HTML, PHP, CI
        </ion-card-content>
        <ion-row>
          <ion-col text-right>
            
            <button ion-button small (color)="primary" (click)="masukRoom(memberreq)">Enter Room Chat</button>
            <button ion-button small (color)="primary" (click)="lihatProfil(memberreq)">Lihat Profil</button>
            <button ion-button small (color)="primary" (click)="chatting(memberreq)">Chatting</button>
            <button ion-button small (color)="primary" (click)="accept(memberreq)">Accept</button>
            <button ion-button small (color)="primaryz" (click)="reject(memberreq)">Reject</button>
            
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div *ngSwitchCase="'accept'">
      <ion-card *ngFor = 'let memberacc of memberAcc'>
        <ion-card-header>{{memberacc.fullname}}</ion-card-header>
        <ion-card-content>
          Pendidikan: S1 <br>Skill: CSS, HTML, PHP, CI
        </ion-card-content>
        <ion-row>
          <ion-col text-right>
            <button ion-button small (color)="secondary">Join Group</button>
         
            <button ion-button small (color)="red">Reject</button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>
