page-list-chat {
    .list-avatar-page {
        ion-note {
          font-size: 12px;
          align-self: flex-start;
          margin-top: 14px;
        }
      }
      #notifications-badge {
        background-color: red;
        position: absolute;
        top: 30px;
        right: 20px;
        border-radius: 100%;
    }     
}
