<ion-header>
  <ion-navbar color="primary">
    <ion-title>Avatar List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
  <ion-list>

    <ion-list-header>Today</ion-list-header>

    <ion-item *ngFor="let chat of lstRoomChat" (click)="goToChat(chat)">
      <ion-avatar item-start>
        <img src="../../assets/imgs/avatar.png">
      </ion-avatar>
      <h2 *ngIf="currName != chat.bosName">{{ chat.bosName }}</h2>
      <h2 *ngIf="currName == chat.bosName">{{ chat.karyawanName }}</h2>
      <p>This town ain't big enough for the </p>
      <ion-note item-end>3:43 pm</ion-note>
      <ion-badge id="notifications-badge" color="danger">.</ion-badge>
    </ion-item>

    
  </ion-list>

</ion-content>