<!--
  Generated template for the MapsModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Project 1</ion-title>
  </ion-navbar>

</ion-header>

<!-- [latitude]="lat"
      [longitude]="lng"
      [zoom]="16"
      (mapClick)="onSetMarker($event)" -->
      <!-- [latitude]="marker.lat" [longitude]="marker.lng" -->
<ion-content padding>
  <ion-card>
    <agm-map
      >
      <agm-marker>
      </agm-marker>
    </agm-map>
    <ion-card-content>
      <ion-input placeholder="Location Name" type="text" class="boxed-input" style="margin-bottom: 10px;"></ion-input>
      <ion-textarea placeholder="Location Address" class="boxed-input" style="margin-bottom: 10px;"></ion-textarea>
      <button (click)="set_maps_clicked()" ion-button full style="background-color:lightskyblue; color: white;">Set Meeting Location</button>
    </ion-card-content>
  </ion-card>
</ion-content>
