<!--
  Generated template for the ListProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>List Project</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <ion-item *ngFor="let listItem of listKategory" (click)="detailProject(listItem)">

          <!-- <ion-card-header>
            Card Header
          </ion-card-header>
            {{listItem.projectName}}
          <ion-card-content>
           
          </ion-card-content> -->
          <ion-thumbnail item-left>
            <img src="../../assets/imgs/avatar.png">
          </ion-thumbnail>
                <h2 text-wrap>{{listItem.projectName}}</h2>
                <p>{{listItem.keterangan}}</p>
                <p style="font-size:10px; color: deepskyblue;">Join Available</p>
                <!-- <p style="font-size:10px; color: red;">Join Unavailable</p> -->
                <h5 style="font-size:10px;">3 mins ago</h5>
        </ion-item>
  </ion-list>
</ion-content>
