page-list-project {
    .blog {
        &.item-block {
            background-color: transparent;
            border-bottom: 0.55px solid #c8c7cc;
            .item-inner {
                border: none;
            }
        }
        h2 {
            font-size: 16px;
        }
    }
    .item-divider {
        ion-label {
            color: #93a0b3;
            margin-bottom: 0px;
        }
    }
    .people-group {
        section {
            background-color: #fff;
            box-shadow: 0px 0px 3px rgba(0,0,0,0.15);
             ion-avatar img {
                 margin: 0 auto;
             }
            ion-item {
                background-color: #fff;
                p {
                    text-align: center;
                    color: #93a0b3;
                    padding-top: 10px;
                }
            }
            ion-label {
                margin-bottom: 0px;
            }
            button {
                box-shadow: none;
                border-top: 1px solid #e8e8e8;
                border-bottom: 1px solid #e8e8e8;
            }
        }
    }
}
