<!--
  Generated template for the LihatprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>lihatprofile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div id="profile-bg"></div>
    <div id="content">
      <div id="profile-info" *ngFor="let data of dataUser">
          <img id="profile-image" style="height:120px" src="../../assets/imgs/avatar.png" *ngIf="!data.photo">
          <img id="profile-image" style="height:120px" [src]="data.photo" *ngIf="data.photo">
        <form>
          <ion-list>
            <ion-item>
                <ion-label fixed>Nama</ion-label>
                <ion-label fixed>{{ data.fullname }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label fixed>Email </ion-label>
                <ion-label >{{ data.email }}</ion-label>
            </ion-item>
            <ion-item> 
              <ion-label fixed>Jenis Kelamin</ion-label>
              <ion-label fixed>{{ data.gender }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label floating>Skill</ion-label>
                <ion-textarea disabled="true"  value="{{ data.skill }}"></ion-textarea>
            </ion-item>
            <button ion-button block style="margin-top:40px" (click)="back()" >Kembali</button>
          </ion-list>
        </form>
      </div>
    </div>
</ion-content>
