<!--
  Generated template for the SkripsiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding style="background-color: #563ada">
  <ion-row class="login-logo">
    <ion-col><img style="height:250px" src="../../assets/imgs/jobland.jpg" /></ion-col>
  </ion-row>

  <ion-row class="login-form">
    <ion-col> 
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <ion-list isset>
              <!-- <ion-grid>
                <ion-row>
                  <ion-col>
                    
                  </ion-col>
                </ion-row>
              </ion-grid> -->
              <ion-item>
                  <ion-label><ion-icon name="person"></ion-icon></ion-label>
                <ion-input type="text" placeholder="Full Name" formControlName="fullname"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label><ion-icon name="mail" ></ion-icon></ion-label>
                    <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label><ion-icon name="lock"></ion-icon></ion-label>
                  <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
                </ion-item>
            </ion-list> 
            <button ion-button type="submit" block [disabled]="!userForm.valid" primary class="register-button">Register</button>
          </form> 
    </ion-col>
  </ion-row>  
  <ion-row>
      <ion-col>
        <button (click)="goToLogin()" class="create-account">Already have an account ? Sign In Now !</button>
      </ion-col>
  </ion-row>
</ion-content>
